.Home {
    display: flex;
    justify-content: space-around;
}

.SearchBar {
    margin: 90px;
    padding: 40px;
    text-align: center;
}

button {
    background-color: rgb(173, 0, 0);
}

.Thumbnail {
    /* margin: 50px;
    grid-column: 1/ span 2;
    row-gap: 200px;
    column-gap: 50px; */
    display: flexbox;
    justify-content: space-between;
}