header {
    align-items: center;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 25px 5% 35px 5%;
}

header article,
header aside {
    display: flex;
    flex-direction: row;
}

header h1 {
    height: auto;
    margin: 0;
    font-size: 60px;
    color: white;
}

header h1 span {
    font-size: 24px;
    font-weight: 300;
}


header h1 img {
    width: 40px;
    height: 50px;
}

/* NEW */
header aside i {
    font-size: 24px;
    width: 10px;
}

header aside p {
    color: white;
    display: inline-block;
}

header aside p span{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 1em;
}

header aside p:hover {
    color: red;
}